@using Abstergo.Blazor.Data
@using Abstergo.Blazor.Services
@inject FavoriteService Service

<h3>FavoriteList</h3>

@if (favorites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (currentFolder != null)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" @onclick="() => OpenNewFolder(currentFolder.ParentID)">Back</a></li>
                <li class="breadcrumb-item active" aria-current="page">@currentFolder.Name</li>
            </ol>
        </nav>
    }
    else
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    }

    <ul class="list-group">
        @foreach (var item in favorites)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                    @if (item.ItemType is ItemType.Folder)
                    {
                        <a href="#" @onclick="() => OpenNewFolder(item.Id)">
                            @item.Name
                        </a>
                    }
                    else
                    {
                        <a href="@item.Url">
                            @item.Name
                        </a>
                    }
                    </div>
                    <div class="col">
                        @item.ItemType
                    </div>
                    <div class="col">
                        @item.Order
                    </div>
                    <div class="col">
                        <a href="#" @onclick="() => ChangeOrder(item.Id, item.Order - 1)">Move Up</a>
                        <a href="#" @onclick="() => ChangeOrder(item.Id, item.Order + 1)">Move Down</a>
                    </div>
                </div>
            </li>
        }
    </ul>
}

@code {
    private IList<Favorite>? favorites;

    private Favorite? currentFolder;

    protected override async Task OnInitializedAsync()
    {
        Service.FolderListChanged += ListChanged;
        favorites = await Service.GetListOfFavoritesAsync(-1);
        currentFolder = Service.CurrentFolder;
    }

    protected async Task OpenNewFolder(int id)
    {
        favorites = await Service.GetListOfFavoritesAsync(id);
        currentFolder = Service.CurrentFolder;
    }

    protected async Task ChangeOrder(int id, int newOrder)
    {
        await Service.OrderChangeAsync(id, newOrder);
    }

    protected async void ListChanged()
    {
        favorites = await Service.GetListOfFavoritesAsync(currentFolder?.Id ?? -1);
    }

    public void Dispose()
    {
        Service.FolderListChanged -= ListChanged;
    }
}
