@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorites[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorites[0].IsFolder)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Favorites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a href="@item.Url">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFolder)
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-page="AddFavorite" role="button">Add favorite</a>
<a class="btn btn-primary" asp-page="AddFolder" role="button">New folder</a>