@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.FolderID == -1)
{
    <div class="text-center">
        <h1 class="display-4">Pinned sites</h1>
        <p>To do ...</p>
    </div>
}

<div class="text-center">
    <h2>Favorites</h2>
</div>

@if (Model.CurrentFolder != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index" asp-route-id="@Model.CurrentFolder.ParentID">Back</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.CurrentFolder.Name</li>
        </ol>
    </nav>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
}

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorites[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorites[0].ItemType)
            </th>
            <th>
                Order
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Favorites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.ItemType is ItemType.Folder)
                    {
                        <a asp-page="/Index" asp-route-id="@item.Id">@item.Name</a>
                    }
                    else
                    {
                        <a href="@item.Url">@Html.DisplayFor(modelItem => item.Name)</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    <a asp-controller="Order" asp-action="OrderChange" asp-route-id="@item.Id" asp-route-newOrder="@(item.Order - 1)">Move Up</a>
                    <a asp-controller="Order" asp-action="OrderChange" asp-route-id="@item.Id" asp-route-newOrder="@(item.Order + 1)">Move Down</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-page="AddItem" asp-route-id="@Model.FolderID" asp-route-order="@Model.LastOrder" asp-route-type="Favorite" role="button">Add favorite</a>
<a class="btn btn-primary" asp-page="AddItem" asp-route-id="@Model.FolderID" asp-route-order="@Model.LastOrder" asp-route-type="Folder" role="button">New folder</a>

<Abstergo.Pages.Shared.ModalPop/>